.product {
  width: 100%;
  max-width: 230px;
  height: 410px;
  margin: 0;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--color-white);
  justify-self: center;
}

.product__image-wrapper {
  width: 230px;
  height: 230px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
}

.product__img {
  width: 100%;
  transform: scale(1.05);
  transition: all 0.5s;
  height: 100%;
  object-fit: contain;
}

.badge {
  font-size: 0.9rem;
}

.product__text-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.product__name {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.product__description {
  font-style: normal;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.2rem;
  min-height: 57px;
}

.product__price {
  display: flex;
  align-items: end;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  gap: 0.5rem;
}

.product__price_discount {
  color: var(--sale);
}

.price__text_discount {
  text-decoration: line-through;
  font-size: 0.9rem;
  color: var(--color-black);
  opacity: 0.5;
}

@media (any-hover: hover) {
  .product:hover .product__img {
    transform: scale(1);
  }
}

.button__product {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);

  &:hover {
    color: var(--color-primary);
  }
}

.button_in-cart {
  pointer-events: none;
  cursor: none;
  background-color: grey;
}

.button_loading {
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
