<div class="flex-basket__wrapper">
  <div class="basket__wrapper">
    <div class="basket__container">
      <h1>Cart</h1>

      <div *ngIf="isCartEmpty && isLogin" class="empty-cart__field">
        <div class="basket-empty__message">
          <p>
            Your cart is empty now. Go to&nbsp;<a href="#/catalog">Catalog</a>
          </p>
        </div>
        <img class="empty-cart__image" src="/assets/images/no-found.png" />
      </div>
      <div *ngIf="!isLogin" class="empty-cart__field">
        <div class="basket-empty__message">
          <p>
            To add items to your cart you need to&nbsp;
            <a href="#/login">Login</a>
          </p>
        </div>
        <img class="empty-cart__image" src="/assets/images/no-found.png" />
      </div>

      <div *ngIf="isLogin && !isCartEmpty" class="cart-content-field">
        <ul class="cart-product__list">
          @for (item of lineItems; track item.id) {
            <li class="cart-product-list__item">
              <a
                href="#/product/{{ item.productId }}"
                class="product-image__field"
              >
                <img
                  class="product__image"
                  src="{{ item.variant.images[0].url }}"
                  alt="product image"
                />
              </a>
              <div class="product-name__field">
                <a
                  class="product-name__link"
                  href="#/product/{{ item.productId }}"
                >
                  <p class="product-name">{{ item.name['en-US'] }}</p>
                </a>
                <div class="product-prices">
                  <p
                    class="product-initial-price"
                    [class.product-old-price]="item.price.discounted"
                  >
                    {{ item.price.value.usd }}
                  </p>
                  <p class="product-initial-price product-discounted-price">
                    {{
                      item.price.discounted
                        ? item.price.discounted.value.usd
                        : ''
                    }}
                  </p>
                </div>
              </div>
              <div class="product-quantity__field">
                <button
                  class="product-quantity__button button-minus"
                  (click)="decreaseProductQuantity(item.id)"
                >
                  -
                </button>
                <p class="product-quantity">{{ item.quantity }}</p>
                <button
                  class="product-quantity__button button-plus"
                  (click)="increaseProductQuantity(item.productId)"
                >
                  +
                </button>
              </div>
              <div class="product-price__field">
                {{ item.price.value.totalUsd }}
              </div>
              <button
                class="delete__button"
                (click)="deleteWholeProduct(item.quantity, item.id)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  viewBox="0 0 64 64"
                >
                  <path
                    d="M28 6a4 4 0 0 0-4 4v2h-.4L10 14v3h44v-3l-13.6-2H40v-2a4 4 0 0 0-4-4h-8zm0 4h8v2h-8v-2zm-16 9 2.7 33.32A4 4 0 0 0 18.7 56H45.3a4 4 0 0 0 3.99-3.68L51.92 20 12 19zm8 7a2 2 0 0 1 2 2v23h-3l-1-23c0-1.1.9-2 2-2zm12 0a3 3 0 0 1 3 3v22h-6V29a3 3 0 0 1 3-3zm12 0a2 2 0 0 1 2 2l-1 23h-3V28c0-1.1.9-2 2-2z"
                  />
                </svg>
              </button>
            </li>
          }
        </ul>
        <div class="result-field">
          <div class="result-content">
            <h2 class="result-header">Result:</h2>
            <form
              [formGroup]="codeDiscountForm"
              (ngSubmit)="addCodeDiscountHandler()"
              class="form__basket"
            >
              <div class="basket__input-wrapper">
                <input
                  class="basket__input-code-discount"
                  [ngClass]="{
                    input__code_invalid: !isValid || codeDiscountError,
                    input__code_used: codeDiscountUsed,
                    input__code_success: codeActivatedMessage,
                  }"
                  formControlName="codeDiscount"
                />
                <button type="submit" class="button button__apply-code">
                  Apply code
                </button>
              </div>
              <p class="basket__input-message" *ngIf="!isValid">
                Code not found
              </p>
              <p class="basket__input-message" *ngIf="codeDiscountUsed">
                Code already applied
              </p>
              <p class="basket__input-message" *ngIf="codeDiscountError">
                Code not valid for order
              </p>
              <p class="basket__input-message" *ngIf="codeActivatedMessage">
                {{ codeActivatedMessage }}
              </p>
            </form>
            <ul>
              <h3 class="basket__active-h3">Active Codes:</h3>
              @for (code of codes; track code.id) {
                <li class="li__basket">
                  <p class="li__name-code">{{ code.name }}</p>
                  <button
                    id="{{ code.id }}"
                    class="button button__basket-code"
                    (click)="deleteCodeDiscountHandler(code)"
                  ></button>
                </li>
              }
            </ul>
            <div class="quantity__field">
              <p>Products quantity:&nbsp;</p>
              <p>{{ totalProductsQuantity }}&nbsp;pcs.</p>
            </div>
            <div class="price__field">
              <p class="price-header">Total price:&nbsp;</p>
              <p class="price" [class.old-total-price]="codes.length">
                {{ totalPriceBeforeDiscount }}
              </p>
            </div>
            <div *ngIf="codes.length" class="discounted-price__field">
              <p class="discounted-price-header">Discounted price:&nbsp;</p>
              <p class="discounted-price">{{ totalPrice }}</p>
            </div>
            <button
              (click)="
                openConfirmationModal(
                  'Are you sure you want to clear your cart?'
                )
              "
              class="clear-cart__button"
            >
              Clear cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-error-modal
  *ngIf="isModalShow"
  [message]="modalErrorMessage"
  [header]="modalHeader"
  (closeModalEvent)="closeModal()"
></app-error-modal>

<app-confirmation-modal
  *ngIf="isConfirmationModalShow"
  [message]="confirmationModalMessage"
  (closeModalEvent)="closeConfirmationModal()"
  (confirmModalEvent)="confirmButtonHandler()"
></app-confirmation-modal>
