:root {
  --color-primary: #00CED1;
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: grey;
}

body {
  margin: 0;
}

input {
  padding: 4px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button {
  transition: all 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: gray;
  }
}
